* {
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: "Inter", sans-serif;
}

ul {
   padding-left: 0;
}

#root {
   width: 100%;
}

:root {
   /* global variables */
   --side-bar-width: 12.5rem;
   --violet: #7600d2;
   --cyan_green: #0bac9b;
   --green: #41d158;
   --red: #fb6c6c;
   --grey: #9d9d9d;
   --light_grey: #ededed;
   --bright_grey: #e9e9e9;
   --white: #f4f6f8;
}

button {
   background: transparent;
   border: none;
   cursor: pointer;
   outline: none;
   text-decoration: none;
}
main {
   display: flex;
   padding: 0 5rem;
   flex-grow: 1;
   height: 100%;
   background: #f4f6f8;
   flex-direction: column;
   justify-content: space-evenly;
   z-index: 1;
   margin-top: 3rem;
}

h1 {
   color: var(--violet);

   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   margin-top: 1rem;
}

h2 {
   color: var(--violet);
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   padding-bottom: 1rem;
   padding-top: 1rem;
}

/* .burger {
   display: none;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-left: 2.5rem;
} */

a {
   outline: none;
   text-decoration: none;
}

@media (max-width: 1200px) {
   h1 {
      display: flex;
      justify-content: flex-start;
      margin-top: 1rem;
      margin-bottom: 1rem;
   }
   h2 {
      display: flex;
      justify-content: flex-start;
      margin-top: 3rem;
      margin-bottom: 2rem;
   }
}
